
{% extends "base.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}
<form action="/event" id="eventForm" method=post>
        <div class="mb-3"> 
{#    <fieldset>#}
        {{ form.csrf_token }}
        {{ render_field(form.title) }}
        {{ render_field(form.header_text) }}
        {{ render_field(form.sub_text) }}
        {{ render_field(form.date) }}
        {{ render_field(form.start_time) }}
        {{ render_field(form.end_time) }}
        {{ render_field(form.url) }}
        {{ render_field(form.image_file) }}
        {{ render_field(form.only_image) }}
        {{ render_field(form.submit) }}
{#        <button type=submit class="btn btn-primary">Generate banner</button>#}
{#    </fieldset>#}
</div>
</form>
{% endblock %}