{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
    <a class="btn btn-primary" href="/event">Event</a>
    <a class="btn btn-primary" href="/activity">Activity</a>
    <a class="btn btn-primary" href="/callout">Callout</a>
    <a class="btn btn-primary" href="/generate">Generate</a>
   </div>
</div>
<div class="row">
<!-- Add code from main_tables.html-->
    {% include 'main_tables.html' %}
    <div class="col-lg-4">
    <a href="static/out.jpg">Full size image</a>
    <img src="static/out_thumbnail.png"/>
    </div>
</div>
    {% endblock %}
