<div class="col-lg-8">
    <div class="container">
        <!-- <div class="table-responsive"> -->
            <!-- Events table -->
            <table class="table table-striped table-bordered" id="eventsTable">
                <label for="eventsTable" class="h3">Events</label>
                <thead>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Archive</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </thead>
                <tbody>
                    {# {% if session.get('logged_in') %}#}
                    {% if events %}
                    {% for event in events %}
                    <tr>
                        <td><a href="{{ url_for('app.event', bannerid=event.id) }}">{{ event.title }}</a></td>
                        <td><a href="{{ url_for('app.event', bannerid=event.id) }}">{{ event.archived }}</a></td>
                        <td><a href="{{ url_for('app.archive_event', bannerid=event.id) }}">Archive</a></td>
                        <td><a href="{{ url_for('app.delete_event', bannerid=event.id) }}">Delete</a></td>                         <td><a href="{{ url_for('app.event', bannerid=event.id) }}">{{ event.archived }}</a></td>
                       <td><a href="{{ url_for('app.event', bannerid=event.id) }}">Edit</a></td>

                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <!-- Activities table -->

            <table class="table table-striped table-bordered" id="activitiesTable">
                <label for="activitiesTable" class="h3">Activities</label>
                <thead>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Archive</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </thead>
                <tbody>
                    {# {% if session.get('logged_in') %}#}
                    {% if activities %}
                    {% for activity in activities %}
                    <tr>
                        <td><a href="{{ url_for('app.activity', bannerid=activity.id) }}">{{ activity.title }}</a></td>
                        <td><a href="{{ url_for('app.activity', bannerid=activity.id) }}">{{ activity.title }}</a></td>
                        <td>{{ activity.archived }}</td>
                        <td><a href="{{ url_for('app.archive_event', bannerid=activity.id) }}">Archive</a></td>
                        <td><a href="{{ url_for('app.delete_event', bannerid=activity.id) }}">Delete</a></td>
                        <td><a href="{{ url_for('app.activity', bannerid=activity.id) }}">Edit</a></td>

                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <!-- Callouts table -->

            <table class="table table-striped" id="calloutsTable">
                <label for="calloutsTable" class="h3">Callouts</h3>
                <thead>
                    <th>Type</th>
                    <th>image</th>
                    <th>Active</th>
                    <th>Archive</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </thead>
                <tbody>
                    {# {% if session.get('logged_in') %}#}
                    {% if callouts %}
                    {% for callout in callouts %}
                    <tr>
                        <td><a href="{{ url_for('app.callout', bannerid=callout.id) }}">{{ callout.header }}</a></td>
                        <td><a href="{{ url_for('app.callout', bannerid=callout.id) }}">{{ callout.image_file }}</a></td>
                        <td>{{ callout.archived }}</td>
                        <td><a href="{{ url_for('app.archive_callout', bannerid=callout.id) }}">Archive</a></td>
                        <td><a href="{{ url_for('app.delete_callout', bannerid=callout.id) }}">Delete</a></td>
                        <td><a href="{{ url_for('app.callout', bannerid=callout.id) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>